.navbar-brand{
    background-color: #4aaaa5;
    color: #ffffff !important;
    padding: 1.25rem;
    /* margin-left: 15rem; */
}

.navbar navbar-expand-lg navbar-bg{
    border-bottom: 2px solid rgb(207, 84, 84) !important;
}

.teal{
    color: #4aaaa5;
}

